/* 色指定 */
$darkmode-fontcolor: lighten(#b1bc89, 25%);
$darkmode-primarycolor: #1f1f1f;
$darkmode-accentcolor: #d1ffd1;
$lightmode-fontcolor: #002e00;
$lightmode-primarycolor: #fafafa;
$lightmode-accentcolor: #6b7643;

/* 共通 */
html,
body,
.main {
  height: 100%;
  cursor: default;
}
a {
  text-decoration: none;
}
.header,
.footer {
  height: 5.5vh;
  padding: 0 16px;
}
/* アイコン */
.header,
.footer {
  .brand-icon a {
    display: block;
    width: 24px;
    height: 24px;
  }
}
/* ヘッダー、フッター */
.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  span:not(:last-of-type) {
    margin-right: 3vw;
  }
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-size: 1vw;
    font-weight: 500;
    margin-left: auto;
    padding-left: 24px;
  }

  span {
    margin-left: auto;
  }

  a {
    white-space: nowrap;
  }
}
/* ビジュアル */
.visual {
  width: 100%;
  height: calc(100% - 5.5vh);
  position: relative;

  h1 {
    position: absolute;
    top: 25%;
    left: 50%;
    padding: 2vw 3vw;
    transform: translateX(-50%);
    text-align: center;

    &::before,
    &::after {
      content: "";
      display: block;
      width: 30%;
      position: absolute;
      top: 96%;
    }

    &::before {
      left: -0.5%;
    }
    &::after {
      left: 70.5%;
    }

    & > span {
      position: absolute;
      top: 85%;
      left: 50%;
      transform: translateX(-50%);
      font-weight: normal;
      font-size: 18px;
    }

    span {
      white-space: nowrap;
      display: inline-block;
    }
  }

  nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;

    a {
      display: block;
      width: 28vh;
      padding: 1.5vh 1vw;
      font-size: 24px;
      font-weight: 500;

      &::after {
        content: "";
        position: absolute;
        display: block;
        width: 0;
        left: 50%;
        height: 4px;
        transition: ease-in-out 0.2s;
      }

      &:hover::after {
        content: "";
        width: 100%;
        height: 4px;
        left: 0;
      }
    }
  }
}
/* コンテンツ */
.contents {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 4vh 8vw 2vh;
  margin: 2vh 2vw 0.5vh;
  overflow: hidden;

  .content {
    position: relative;
    flex: 1;

    &::before {
      content: "";
      width: 20vh;
      height: 10vh;
      display: block;
      position: absolute;
      top: -10px;
      left: -20px;
    }

    &::after {
      content: "";
      width: 20vh;
      height: 10vh;
      display: block;
      position: absolute;
      bottom: -10px;
      right: -20px;
    }

    &:not(:last-of-type) {
      margin-bottom: 8vh;
    }

    &:nth-of-type(2n) {
      text-align: left;
      margin-left: auto;
    }

    &:nth-of-type(2n + 1) {
      text-align: left;
      margin-right: auto;
    }
  }
}
#self-introduction {
  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    & p {
      font-size: 18px;
      line-height: 1.8;
    }
  }

  .profile-image {
    border-radius: 1em;
    overflow: hidden;
    background: #fff url(../images/portfolio.png) no-repeat center 35% / cover;
    min-width: 20vh;
    min-height: 20vh;
    max-width: 20vh;
    max-width: 20vh;
    margin: 1vh;
  }
}
#career {
  max-width: 100%;

  & > div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-x: scroll;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      max-width: 40vh;

      .icon {
        width: 5vh;
        height: 5vh;
      }

      p {
        &:nth-of-type(1),
        &:nth-of-type(2) {
          white-space: nowrap;
        }
      }

      & + .separator {
        display: block;
        min-width: 8vh;
        height: 2px;
        margin: 6vh 0;
      }
    }
  }
}
#production {
  max-width: 100%;

  figure {
    position: relative;

    img {
      max-width: 100%;
    }

    figcaption {
      position: absolute;
      bottom: 12px;
      left: 4px;

      span {
        padding: 0 1vh;
        font-weight: 600;
      }
    }
  }

  h3, p {
    padding: 0 1vh;
  }
}
#contact {
  div {
    margin: 2vh 0;

    a {
      padding-left: 30px;
      font-size: 18px;
    }
  }
}
/* ダークモード対応 */
// 共通
.light-theme a {
  color: $lightmode-fontcolor;
}
.dark-theme a {
  color: $darkmode-fontcolor;
}
// アイコン
.light-theme {
  .twitter-icon a {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="%231f1f1f" d="M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm-48.9 158.8c.2 2.8.2 5.7.2 8.5 0 86.7-66 186.6-186.6 186.6-37.2 0-71.7-10.8-100.7-29.4 5.3.6 10.4.8 15.8.8 30.7 0 58.9-10.4 81.4-28-28.8-.6-53-19.5-61.3-45.5 10.1 1.5 19.2 1.5 29.6-1.2-30-6.1-52.5-32.5-52.5-64.4v-.8c8.7 4.9 18.9 7.9 29.6 8.3a65.447 65.447 0 0 1-29.2-54.6c0-12.2 3.2-23.4 8.9-33.1 32.3 39.8 80.8 65.8 135.2 68.6-9.3-44.5 24-80.6 64-80.6 18.9 0 35.9 7.9 47.9 20.7 14.8-2.8 29-8.3 41.6-15.8-4.9 15.2-15.2 28-28.8 36.1 13.2-1.4 26-5.1 37.8-10.2-8.9 13.1-20.1 24.7-32.9 34z"/></svg>')
      no-repeat left center;
  }
  .github-icon a {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="%231f1f1f" d="M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zM277.3 415.7c-8.4 1.5-11.5-3.7-11.5-8 0-5.4.2-33 .2-55.3 0-15.6-5.2-25.5-11.3-30.7 37-4.1 76-9.2 76-73.1 0-18.2-6.5-27.3-17.1-39 1.7-4.3 7.4-22-1.7-45-13.9-4.3-45.7 17.9-45.7 17.9-13.2-3.7-27.5-5.6-41.6-5.6-14.1 0-28.4 1.9-41.6 5.6 0 0-31.8-22.2-45.7-17.9-9.1 22.9-3.5 40.6-1.7 45-10.6 11.7-15.6 20.8-15.6 39 0 63.6 37.3 69 74.3 73.1-4.8 4.3-9.1 11.7-10.6 22.3-9.5 4.3-33.8 11.7-48.3-13.9-9.1-15.8-25.5-17.1-25.5-17.1-16.2-.2-1.1 10.2-1.1 10.2 10.8 5 18.4 24.2 18.4 24.2 9.7 29.7 56.1 19.7 56.1 19.7 0 13.9.2 36.5.2 40.6 0 4.3-3 9.5-11.5 8-66-22.1-112.2-84.9-112.2-158.3 0-91.8 70.2-161.5 162-161.5S388 165.6 388 257.4c.1 73.4-44.7 136.3-110.7 158.3zm-98.1-61.1c-1.9.4-3.7-.4-3.9-1.7-.2-1.5 1.1-2.8 3-3.2 1.9-.2 3.7.6 3.9 1.9.3 1.3-1 2.6-3 3zm-9.5-.9c0 1.3-1.5 2.4-3.5 2.4-2.2.2-3.7-.9-3.7-2.4 0-1.3 1.5-2.4 3.5-2.4 1.9-.2 3.7.9 3.7 2.4zm-13.7-1.1c-.4 1.3-2.4 1.9-4.1 1.3-1.9-.4-3.2-1.9-2.8-3.2.4-1.3 2.4-1.9 4.1-1.5 2 .6 3.3 2.1 2.8 3.4zm-12.3-5.4c-.9 1.1-2.8.9-4.3-.6-1.5-1.3-1.9-3.2-.9-4.1.9-1.1 2.8-.9 4.3.6 1.3 1.3 1.8 3.3.9 4.1zm-9.1-9.1c-.9.6-2.6 0-3.7-1.5s-1.1-3.2 0-3.9c1.1-.9 2.8-.2 3.7 1.3 1.1 1.5 1.1 3.3 0 4.1zm-6.5-9.7c-.9.9-2.4.4-3.5-.6-1.1-1.3-1.3-2.8-.4-3.5.9-.9 2.4-.4 3.5.6 1.1 1.3 1.3 2.8.4 3.5zm-6.7-7.4c-.4.9-1.7 1.1-2.8.4-1.3-.6-1.9-1.7-1.5-2.6.4-.6 1.5-.9 2.8-.4 1.3.7 1.9 1.8 1.5 2.6z"/></svg>')
      no-repeat left center;
  }
  .google-form a {
    background: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8"?><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 50 50" version="1.1"><path fill="%231f1f1f" d="M41.707 13.793l-11.5-11.5A1 1 0 0 0 29.5 2H11.492A3.49 3.49 0 0 0 8 5.48v38.422C8 46.16 9.844 48 12.113 48h25.774C40.157 48 42 46.16 42 43.902V14.5a1 1 0 0 0-.293-.707zM17 37c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 1 1-.45 1-1 1zm0-5c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 1 1-.45 1-1 1zm0-5c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 1 1-.45 1-1 1zm16 10H21v-2h12zm0-5H21v-2h12zm0-5H21v-2h12zm-1.332-13A1.667 1.667 0 0 1 30 12.332V4.914L39.086 14z" id="surface1"/></svg>')
      no-repeat left center;
  }
}
.dark-theme {
  .twitter-icon a {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="%23fafafa" d="M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm-48.9 158.8c.2 2.8.2 5.7.2 8.5 0 86.7-66 186.6-186.6 186.6-37.2 0-71.7-10.8-100.7-29.4 5.3.6 10.4.8 15.8.8 30.7 0 58.9-10.4 81.4-28-28.8-.6-53-19.5-61.3-45.5 10.1 1.5 19.2 1.5 29.6-1.2-30-6.1-52.5-32.5-52.5-64.4v-.8c8.7 4.9 18.9 7.9 29.6 8.3a65.447 65.447 0 0 1-29.2-54.6c0-12.2 3.2-23.4 8.9-33.1 32.3 39.8 80.8 65.8 135.2 68.6-9.3-44.5 24-80.6 64-80.6 18.9 0 35.9 7.9 47.9 20.7 14.8-2.8 29-8.3 41.6-15.8-4.9 15.2-15.2 28-28.8 36.1 13.2-1.4 26-5.1 37.8-10.2-8.9 13.1-20.1 24.7-32.9 34z"/></svg>')
      no-repeat left center;
  }
  .github-icon a {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="%23fafafa" d="M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zM277.3 415.7c-8.4 1.5-11.5-3.7-11.5-8 0-5.4.2-33 .2-55.3 0-15.6-5.2-25.5-11.3-30.7 37-4.1 76-9.2 76-73.1 0-18.2-6.5-27.3-17.1-39 1.7-4.3 7.4-22-1.7-45-13.9-4.3-45.7 17.9-45.7 17.9-13.2-3.7-27.5-5.6-41.6-5.6-14.1 0-28.4 1.9-41.6 5.6 0 0-31.8-22.2-45.7-17.9-9.1 22.9-3.5 40.6-1.7 45-10.6 11.7-15.6 20.8-15.6 39 0 63.6 37.3 69 74.3 73.1-4.8 4.3-9.1 11.7-10.6 22.3-9.5 4.3-33.8 11.7-48.3-13.9-9.1-15.8-25.5-17.1-25.5-17.1-16.2-.2-1.1 10.2-1.1 10.2 10.8 5 18.4 24.2 18.4 24.2 9.7 29.7 56.1 19.7 56.1 19.7 0 13.9.2 36.5.2 40.6 0 4.3-3 9.5-11.5 8-66-22.1-112.2-84.9-112.2-158.3 0-91.8 70.2-161.5 162-161.5S388 165.6 388 257.4c.1 73.4-44.7 136.3-110.7 158.3zm-98.1-61.1c-1.9.4-3.7-.4-3.9-1.7-.2-1.5 1.1-2.8 3-3.2 1.9-.2 3.7.6 3.9 1.9.3 1.3-1 2.6-3 3zm-9.5-.9c0 1.3-1.5 2.4-3.5 2.4-2.2.2-3.7-.9-3.7-2.4 0-1.3 1.5-2.4 3.5-2.4 1.9-.2 3.7.9 3.7 2.4zm-13.7-1.1c-.4 1.3-2.4 1.9-4.1 1.3-1.9-.4-3.2-1.9-2.8-3.2.4-1.3 2.4-1.9 4.1-1.5 2 .6 3.3 2.1 2.8 3.4zm-12.3-5.4c-.9 1.1-2.8.9-4.3-.6-1.5-1.3-1.9-3.2-.9-4.1.9-1.1 2.8-.9 4.3.6 1.3 1.3 1.8 3.3.9 4.1zm-9.1-9.1c-.9.6-2.6 0-3.7-1.5s-1.1-3.2 0-3.9c1.1-.9 2.8-.2 3.7 1.3 1.1 1.5 1.1 3.3 0 4.1zm-6.5-9.7c-.9.9-2.4.4-3.5-.6-1.1-1.3-1.3-2.8-.4-3.5.9-.9 2.4-.4 3.5.6 1.1 1.3 1.3 2.8.4 3.5zm-6.7-7.4c-.4.9-1.7 1.1-2.8.4-1.3-.6-1.9-1.7-1.5-2.6.4-.6 1.5-.9 2.8-.4 1.3.7 1.9 1.8 1.5 2.6z"/></svg>')
      no-repeat left center;
  }
  .google-form a {
    background: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8"?><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 50 50" version="1.1"><path fill="%23fafafa" d="M41.707 13.793l-11.5-11.5A1 1 0 0 0 29.5 2H11.492A3.49 3.49 0 0 0 8 5.48v38.422C8 46.16 9.844 48 12.113 48h25.774C40.157 48 42 46.16 42 43.902V14.5a1 1 0 0 0-.293-.707zM17 37c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 1 1-.45 1-1 1zm0-5c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 1 1-.45 1-1 1zm0-5c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 1 1-.45 1-1 1zm16 10H21v-2h12zm0-5H21v-2h12zm0-5H21v-2h12zm-1.332-13A1.667 1.667 0 0 1 30 12.332V4.914L39.086 14z" id="surface1"/></svg>')
      no-repeat left center;
  }
}
// スイッチ
.header .switch {
  input {
    display: none;

    & + label {
      display: block;
      border: 1px solid $darkmode-primarycolor;
      border-radius: 5px;
      width: 6em;
      height: 30px;
      position: relative;
      background: $lightmode-primarycolor;
      transition: 0.2s;
    }

    &:checked + label {
      border: 1px solid $lightmode-primarycolor;
      background: $darkmode-primarycolor;
    }

    & + label #switch-label::after {
      content: "DARK";
      position: absolute;
      top: 50%;
      left: calc(50% + 0.5em);
      transform: translate(-50%, -50%);
      font-weight: 600;
      color: $darkmode-primarycolor;
      transition: 0.2s;
    }

    &:checked + label #switch-label::after {
      content: "LIGHT";
      color: $lightmode-primarycolor;
      transform: translate(-80%, -50%);
    }

    & + label #bat {
      position: absolute;
      top: -1px;
      left: 0px;
      display: block;
      background: $darkmode-primarycolor;
      border: 1px solid $darkmode-primarycolor;
      border-radius: 5px;
      width: 1.5em;
      height: 30px;
      transition: 0.2s;
    }

    &:checked + label #bat {
      transform: translateX(4.5em);
      background: $lightmode-primarycolor;
      border-color: $lightmode-primarycolor;
    }
  }
}
// ボディ
body.light-theme {
  background: $lightmode-primarycolor;
  color: $lightmode-fontcolor;
  transition: 0.3s;
}
body.dark-theme {
  background: $darkmode-primarycolor;
  color: $darkmode-fontcolor;
  transition: 0.3s;
}
// ビジュアル
.light-theme .visual {
  background: linear-gradient(135deg, #fad0c4 40%, #ffd1ff);
  transition: 0.2s;

  h1 {
    border: $lightmode-accentcolor 0.5vh solid;
    border-bottom: none;

    &::before,
    &::after {
      border-bottom: $lightmode-accentcolor 0.5vh solid;
    }

    span {
      color: $lightmode-fontcolor;
    }
  }

  nav a:hover::after {
    background: $lightmode-accentcolor;
  }
}
.dark-theme .visual {
  background: linear-gradient(135deg, #2b5876 40%, #4e4376);
  transition: 0.2s;

  h1 {
    border: $darkmode-accentcolor 0.5vh solid;
    border-bottom: none;

    &::before,
    &::after {
      border-bottom: $darkmode-accentcolor 0.5vh solid;
    }

    span {
      color: $darkmode-fontcolor;
    }
  }

  nav a:hover::after {
    background: $darkmode-accentcolor;
  }
}
// コンテンツ
.light-theme .contents .content {
  &::before {
    border-top: 4px solid #fad0c4;
    border-left: 4px solid #fad0c4;
    border-right: 4px solid transparent;
    border-bottom: 4px solid transparent;
  }

  &::after {
    border-top: 4px solid transparent;
    border-left: 4px solid transparent;
    border-right: 4px solid #ffd1ff;
    border-bottom: 4px solid #ffd1ff;
  }
}
.dark-theme .contents .content {
  &::before {
    border-top: 4px solid #2b5876;
    border-left: 4px solid #2b5876;
    border-right: 4px solid transparent;
    border-bottom: 4px solid transparent;
  }

  &::after {
    border-top: 4px solid transparent;
    border-left: 4px solid transparent;
    border-right: 4px solid #4e4376;
    border-bottom: 4px solid #4e4376;
  }
}
// 自己紹介
.light-theme #self-introduction .profile-image {
  border: 4px solid $lightmode-accentcolor;
}
.dark-theme #self-introduction .profile-image {
  border: 4px solid $darkmode-accentcolor;
}
// 経歴
.light-theme #career > div div {
  .icon {
    &.baby-icon {
      background: url('data:image/svg+xml;utf8,<!--?xml version="1.0" encoding="utf-8"?--><!-- Generator: Adobe Illustrator 18.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  --><svg version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="width: 256px; height: 256px; opacity: 1;" xml:space="preserve"><g><path class="st0" d="M227.689,184.762c0-5.788-4.69-10.485-10.479-10.485c-5.795,0-10.492,4.697-10.492,10.485c0,5.796,4.697,10.485,10.492,10.485C223,195.247,227.689,190.557,227.689,184.762z" fill="%231f1f1f"></path><path class="st0" d="M294.795,174.276c-5.789,0-10.486,4.697-10.486,10.485c0,5.796,4.696,10.485,10.486,10.485c5.788,0,10.484-4.69,10.484-10.485C305.279,178.973,300.583,174.276,294.795,174.276z" fill="%231f1f1f"></path><path class="st0" d="M284.775,220.519c-6.557,9.078-17.192,14.737-28.776,14.73c-11.563,0.007-22.206-5.66-28.77-14.73c-1.781-2.463-5.229-3.023-7.685-1.235c-2.47,1.774-3.023,5.221-1.235,7.677c8.589,11.893,22.514,19.29,37.689,19.297c15.196,0,29.114-7.404,37.703-19.297c1.774-2.464,1.221-5.903-1.25-7.684C289.997,217.496,286.55,218.056,284.775,220.519z" fill="%231f1f1f"></path><path class="st0" d="M411.869,173.587C406.253,58.351,274.255,0,255.999,0c-18.256,0-150.254,58.351-155.87,173.587C95.087,277.024,116.977,512,255.999,512S416.918,277.024,411.869,173.587z M242.461,83.444c4.115-0.532,8.309-0.819,12.575-0.819c5.788,0,11.433,0.517,16.934,1.479c0.568,0.654,1.164,1.401,1.752,2.291c2.478,3.764,4.985,9.688,4.999,19.053c0,7.081-1.486,16.173-5.688,27.62c-13.272-10.678-20.834-20.504-25.121-28.611c-4.647-8.826-5.487-15.656-5.494-19.606C242.419,84.327,242.44,83.86,242.461,83.444z M232.989,85.116c0.029,5.344,1.271,13.696,6.578,23.75c2.384,4.503,5.566,9.329,9.796,14.392c-4.23-1.702-8.46-3.296-12.424-4.969c-6.844-2.88-12.848-6.104-16.92-10.406c-2.04-2.148-3.648-4.546-4.798-7.469c-0.94-2.42-1.544-5.243-1.73-8.582C219.674,88.944,226.181,86.675,232.989,85.116z M339.622,384.267c-2.033,2.262-5.509,2.456-7.771,0.431l-103.976-93.024c6.435,1.566,13.078,2.578,19.879,3.01l24.346,21.782l27.291-30.493c5.213-2.205,10.226-4.783,14.995-7.706c1.896,2.06,1.975,5.249,0.072,7.375l-34.149,38.17l58.883,52.684C341.453,378.522,341.647,381.998,339.622,384.267z M376.967,204.03c-3.347,3.333-7.886,5.365-12.97,5.372c-2.111,0-4.129-0.374-6.076-1.056l-7.447-2.622l-2.592,7.455c-6.664,19.204-19.146,35.728-35.319,47.427c-16.18,11.706-36.009,18.593-57.525,18.6c-21.416-0.007-41.165-6.83-57.31-18.442c-16.137-11.613-28.619-28.008-35.362-47.076l-2.442-6.902l-7.052,1.932c-1.608,0.446-3.225,0.683-4.862,0.683c-5.092-0.008-9.631-2.04-12.978-5.372c-3.332-3.346-5.371-7.885-5.371-12.977c0-5.084,2.039-9.631,5.371-12.97c3.347-3.332,7.886-5.372,12.978-5.379c0.316,0,0.797,0.029,1.458,0.079l7.296,0.574l1.092-7.232c3.569-23.62,15.541-44.49,32.806-59.471c4.309-3.742,8.941-7.116,13.854-10.068c0.431,2.672,1.084,5.171,2.003,7.469c1.444,3.634,3.476,6.794,5.889,9.494c4.223,4.726,9.509,8.051,15.024,10.78c8.273,4.072,17.222,6.887,24.748,10.398c3.756,1.745,7.138,3.641,9.918,5.824c2.779,2.191,4.948,4.632,6.499,7.598c0.833,1.602,2.484,2.586,4.294,2.535c1.81-0.043,3.419-1.099,4.173-2.736c8.151-17.681,11.096-31.585,11.096-42.501c0.015-7.447-1.393-13.48-3.361-18.227c12.927,4.107,24.69,10.794,34.701,19.498c17.265,15.024,29.229,35.944,32.749,59.615l1.164,7.806l7.799-1.192c1.034-0.158,1.953-0.244,2.786-0.244c5.085,0.007,9.624,2.046,12.97,5.379c3.332,3.339,5.372,7.886,5.372,12.97C382.339,196.145,380.299,200.684,376.967,204.03z" fill="%231f1f1f"></path></g></svg>')
        no-repeat center center / cover;
    }
    &.knowledge-icon {
      background: url('data:image/svg+xml;utf8,<!--?xml version="1.0" encoding="utf-8"?--><!-- Generator: Adobe Illustrator 18.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  --><svg version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="width: 256px; height: 256px; opacity: 1;" xml:space="preserve"><g><path class="st0" d="M120.353,331.519c-16.83,0.026-33.222,5.156-47.338,15.189l-10.007,10.626l-0.104,0.105c-5.593,5.662-9.754,12.197-12.546,19.334c-2.784,7.136-4.197,14.884-4.197,22.876c-0.008,18.714,7.809,38.64,23.478,54.143c11.944,11.848,27.133,17.694,41.319,17.685c6.212,0,12.222-1.117,17.71-3.29c5.514-2.181,10.504-5.408,14.832-9.762c3.167-3.22,5.505-6.901,7.11-10.958c1.579-4.075,2.399-8.515,2.399-13.139c0.009-10.827-4.545-22.535-13.793-31.678c-6.875-6.823-15.564-10.12-23.512-10.112c-3.472,0-6.796,0.619-9.798,1.806c-3.018,1.196-5.714,2.94-8.061,5.313c-4.502,4.554-11.839,4.589-16.376,0.087c-4.546-4.502-4.58-11.83-0.088-16.376c4.65-4.703,10.138-8.236,15.992-10.556c5.862-2.321,12.083-3.438,18.33-3.438c14.238,0.009,28.651,5.784,39.81,16.802c13.558,13.428,20.642,30.937,20.65,48.15c0,7.363-1.3,14.666-3.987,21.558c-2.678,6.883-6.77,13.322-12.223,18.827c-4.1,4.144-8.707,7.573-13.575,10.435L160.171,512c18.19-8.183,31.111-19.664,39.801-32.882l10.652-18.296c3.123-9.247,4.702-18.95,4.702-28.799c0.018-26.095-10.81-52.931-30.788-72.675C165.345,340.365,142.469,331.544,120.353,331.519z" fill="%231f1f1f"></path><path class="st0" d="M100.226,197.59c8.105,3.35,17.789,5.112,28.983,5.112c23.076-0.026,52.695-7.468,88.622-26.356c0.148-0.078,0.262-0.183,0.392-0.262c0.14-0.078,0.297-0.121,0.436-0.209c0.009-0.009,0.018-0.026,0.026-0.035c0.157-0.088,0.288-0.218,0.436-0.332c0.183-0.114,0.358-0.227,0.524-0.366c0.174-0.122,0.314-0.28,0.471-0.419c0.253-0.218,0.48-0.454,0.716-0.698c0.14-0.157,0.297-0.288,0.436-0.454c0.148-0.166,0.262-0.349,0.393-0.532c0.009-0.009,0.018-0.017,0.035-0.026c0.087-0.104,0.192-0.218,0.27-0.322c0.009-0.027,0.018-0.044,0.035-0.062c0.096-0.148,0.166-0.306,0.253-0.454c0.087-0.139,0.201-0.262,0.279-0.401c0.018-0.026,0.018-0.052,0.035-0.086c0.105-0.175,0.157-0.367,0.253-0.542c0.087-0.157,0.183-0.314,0.253-0.471c0.009-0.018,0.018-0.035,0.018-0.053c10.19-24.035,14.596-48.019,14.605-68.87c-0.044-16.689-2.74-31.373-8.323-43.02c-2.827-5.802-6.421-10.949-11.272-14.918c-2.434-1.972-5.174-3.63-8.21-4.772c-3.019-1.16-6.316-1.771-9.632-1.771c-3.342,0-6.666,0.61-9.859,1.736c-3.176,1.117-6.22,2.722-9.143,4.728c-5.575,3.804-9.632,9.213-11.952,14.972c-2.347,5.776-3.193,11.839-3.193,17.911c0.026,10.626,2.522,21.531,5.994,32.272c3.952,12.136,9.248,24.018,14.308,34.208c-3.28-0.986-6.604-1.911-9.989-2.766c-15.643-3.908-32.176-6.351-47.347-6.369c-11.35,0.044-21.934,1.309-31.242,5.104c-4.641,1.928-9.012,4.563-12.676,8.315c-3.656,3.724-6.43,8.663-7.564,14.09c-0.419,1.955-0.637,3.952-0.637,5.959c-0.009,5.296,1.571,10.548,4.362,15.023C85.525,189.206,92.156,194.231,100.226,197.59z M190.742,67.474c0.916-2.164,1.928-3.437,3.638-4.65c1.483-1.02,2.731-1.622,3.699-1.972c0.977-0.331,1.658-0.419,2.181-0.419c0.532,0,0.924,0.078,1.422,0.254c0.829,0.322,2.068,1.081,3.568,2.87c2.242,2.661,4.755,7.564,6.482,14.16c1.754,6.596,2.809,14.823,2.8,24.036c0.009,10.967-1.466,23.33-4.755,36.189c-1.535-2.94-3.114-6.081-4.676-9.344c-4.109-8.602-8.158-18.13-11.106-27.298c-2.966-9.144-4.746-17.981-4.728-24.681C189.267,72.718,189.852,69.612,190.742,67.474z M100.235,166.322c0.288-1.178,0.645-1.832,1.527-2.8c1.309-1.388,4.344-3.202,9.161-4.45c4.771-1.265,11.08-1.954,18.155-1.945c12.642-0.009,27.674,2.146,41.72,5.67c4.58,1.144,9.056,2.452,13.331,3.848c-22.753,9.404-41.249,12.921-54.92,12.895c-11.656,0.026-19.726-2.557-24.071-5.383c-2.19-1.404-3.455-2.792-4.136-3.909c-0.689-1.126-0.864-1.937-0.89-2.818C100.113,167.081,100.156,166.723,100.235,166.322z" fill="%231f1f1f"></path><path class="st0" d="M262.797,201.682c-16.027-7.006-31.164-10.522-41.598-12.284L104.894,312.866c5.104-0.786,10.268-1.186,15.459-1.186c27.456-0.018,55.531,11.114,78.154,33.553c20.694,20.52,33.135,47.217,36.023,74.586l93.482-160.416c-6.395-11.612-14.047-21.27-22.378-29.401C292.346,217.046,277.227,207.981,262.797,201.682z" fill="%231f1f1f"></path><path class="st0" d="M461.495,59.256c-2.87-6.858-7.136-13.828-12.467-20.424c-10.644-13.2-25.606-24.795-41.214-31.687C397.414,2.53,386.77-0.009,376.99,0c-8.489,0.009-16.28,1.84-23.356,5.776c-7.058,3.97-13.575,10.111-19.228,19.664l-0.174,0.296L237.88,169.158c2.844,0.663,5.819,1.414,8.925,2.294c22.029,6.256,50.166,18.129,74.236,41.24c7.87,7.546,15.25,16.315,21.785,26.4l116.61-139.504c4.476-6.499,6.36-13.156,6.404-20.519C465.839,72.858,464.365,66.131,461.495,59.256z" fill="%231f1f1f"></path></g></svg>')
        no-repeat center center / cover;
    }
    &.company-icon {
      background: url('data:image/svg+xml;utf8,<!--?xml version="1.0" encoding="utf-8"?--><!-- Generator: Adobe Illustrator 15.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  --><svg version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 512 512" style="width: 256px; height: 256px; opacity: 1;" xml:space="preserve"><g><path class="st0" d="M331.188,80.469H19.5C8.781,80.469,0,89.25,0,99.984v255.641c0,10.719,8.781,19.5,19.5,19.5h90.438v37.719H84.516v18.688h181.672v-18.688H240.75v-37.719h90.438c10.719,0,19.5-8.781,19.5-19.5V99.984C350.688,89.25,341.906,80.469,331.188,80.469z M325.313,341.969H25.359V105.828h299.953V341.969z" fill="%231f1f1f"></path><path class="st0" d="M492.094,80.469H391.469c-10.984,0-19.906,8.906-19.906,19.906v311.25c0,11,8.922,19.906,19.906,19.906h100.625c11,0,19.906-8.906,19.906-19.906v-311.25C512,89.375,503.094,80.469,492.094,80.469z M441.781,343.766c-12.594,0-22.813-10.219-22.813-22.813c0-12.609,10.219-22.828,22.813-22.828s22.828,10.219,22.828,22.828C464.609,333.547,454.375,343.766,441.781,343.766z M477.781,201.594h-70.219v-14.047h70.219V201.594z M477.781,159.453h-70.219v-14.031h70.219V159.453z" fill="%231f1f1f"></path></g></svg>')
        no-repeat center center / cover;
    }
  }

  & + .separator {
    border: 1px dashed $lightmode-accentcolor;
  }
}
.dark-theme #career > div div {
  .icon {
    &.baby-icon {
      background: url('data:image/svg+xml;utf8,<!--?xml version="1.0" encoding="utf-8"?--><!-- Generator: Adobe Illustrator 18.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  --><svg version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="width: 256px; height: 256px; opacity: 1;" xml:space="preserve"><g><path class="st0" d="M227.689,184.762c0-5.788-4.69-10.485-10.479-10.485c-5.795,0-10.492,4.697-10.492,10.485c0,5.796,4.697,10.485,10.492,10.485C223,195.247,227.689,190.557,227.689,184.762z" fill="%23fafafa"></path><path class="st0" d="M294.795,174.276c-5.789,0-10.486,4.697-10.486,10.485c0,5.796,4.696,10.485,10.486,10.485c5.788,0,10.484-4.69,10.484-10.485C305.279,178.973,300.583,174.276,294.795,174.276z" fill="%23fafafa"></path><path class="st0" d="M284.775,220.519c-6.557,9.078-17.192,14.737-28.776,14.73c-11.563,0.007-22.206-5.66-28.77-14.73c-1.781-2.463-5.229-3.023-7.685-1.235c-2.47,1.774-3.023,5.221-1.235,7.677c8.589,11.893,22.514,19.29,37.689,19.297c15.196,0,29.114-7.404,37.703-19.297c1.774-2.464,1.221-5.903-1.25-7.684C289.997,217.496,286.55,218.056,284.775,220.519z" fill="%23fafafa"></path><path class="st0" d="M411.869,173.587C406.253,58.351,274.255,0,255.999,0c-18.256,0-150.254,58.351-155.87,173.587C95.087,277.024,116.977,512,255.999,512S416.918,277.024,411.869,173.587z M242.461,83.444c4.115-0.532,8.309-0.819,12.575-0.819c5.788,0,11.433,0.517,16.934,1.479c0.568,0.654,1.164,1.401,1.752,2.291c2.478,3.764,4.985,9.688,4.999,19.053c0,7.081-1.486,16.173-5.688,27.62c-13.272-10.678-20.834-20.504-25.121-28.611c-4.647-8.826-5.487-15.656-5.494-19.606C242.419,84.327,242.44,83.86,242.461,83.444z M232.989,85.116c0.029,5.344,1.271,13.696,6.578,23.75c2.384,4.503,5.566,9.329,9.796,14.392c-4.23-1.702-8.46-3.296-12.424-4.969c-6.844-2.88-12.848-6.104-16.92-10.406c-2.04-2.148-3.648-4.546-4.798-7.469c-0.94-2.42-1.544-5.243-1.73-8.582C219.674,88.944,226.181,86.675,232.989,85.116z M339.622,384.267c-2.033,2.262-5.509,2.456-7.771,0.431l-103.976-93.024c6.435,1.566,13.078,2.578,19.879,3.01l24.346,21.782l27.291-30.493c5.213-2.205,10.226-4.783,14.995-7.706c1.896,2.06,1.975,5.249,0.072,7.375l-34.149,38.17l58.883,52.684C341.453,378.522,341.647,381.998,339.622,384.267z M376.967,204.03c-3.347,3.333-7.886,5.365-12.97,5.372c-2.111,0-4.129-0.374-6.076-1.056l-7.447-2.622l-2.592,7.455c-6.664,19.204-19.146,35.728-35.319,47.427c-16.18,11.706-36.009,18.593-57.525,18.6c-21.416-0.007-41.165-6.83-57.31-18.442c-16.137-11.613-28.619-28.008-35.362-47.076l-2.442-6.902l-7.052,1.932c-1.608,0.446-3.225,0.683-4.862,0.683c-5.092-0.008-9.631-2.04-12.978-5.372c-3.332-3.346-5.371-7.885-5.371-12.977c0-5.084,2.039-9.631,5.371-12.97c3.347-3.332,7.886-5.372,12.978-5.379c0.316,0,0.797,0.029,1.458,0.079l7.296,0.574l1.092-7.232c3.569-23.62,15.541-44.49,32.806-59.471c4.309-3.742,8.941-7.116,13.854-10.068c0.431,2.672,1.084,5.171,2.003,7.469c1.444,3.634,3.476,6.794,5.889,9.494c4.223,4.726,9.509,8.051,15.024,10.78c8.273,4.072,17.222,6.887,24.748,10.398c3.756,1.745,7.138,3.641,9.918,5.824c2.779,2.191,4.948,4.632,6.499,7.598c0.833,1.602,2.484,2.586,4.294,2.535c1.81-0.043,3.419-1.099,4.173-2.736c8.151-17.681,11.096-31.585,11.096-42.501c0.015-7.447-1.393-13.48-3.361-18.227c12.927,4.107,24.69,10.794,34.701,19.498c17.265,15.024,29.229,35.944,32.749,59.615l1.164,7.806l7.799-1.192c1.034-0.158,1.953-0.244,2.786-0.244c5.085,0.007,9.624,2.046,12.97,5.379c3.332,3.339,5.372,7.886,5.372,12.97C382.339,196.145,380.299,200.684,376.967,204.03z" fill="%23fafafa"></path></g></svg>')
        no-repeat center center / cover;
    }
    &.knowledge-icon {
      background: url('data:image/svg+xml;utf8,<!--?xml version="1.0" encoding="utf-8"?--><!-- Generator: Adobe Illustrator 18.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  --><svg version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="width: 256px; height: 256px; opacity: 1;" xml:space="preserve"><g><path class="st0" d="M120.353,331.519c-16.83,0.026-33.222,5.156-47.338,15.189l-10.007,10.626l-0.104,0.105c-5.593,5.662-9.754,12.197-12.546,19.334c-2.784,7.136-4.197,14.884-4.197,22.876c-0.008,18.714,7.809,38.64,23.478,54.143c11.944,11.848,27.133,17.694,41.319,17.685c6.212,0,12.222-1.117,17.71-3.29c5.514-2.181,10.504-5.408,14.832-9.762c3.167-3.22,5.505-6.901,7.11-10.958c1.579-4.075,2.399-8.515,2.399-13.139c0.009-10.827-4.545-22.535-13.793-31.678c-6.875-6.823-15.564-10.12-23.512-10.112c-3.472,0-6.796,0.619-9.798,1.806c-3.018,1.196-5.714,2.94-8.061,5.313c-4.502,4.554-11.839,4.589-16.376,0.087c-4.546-4.502-4.58-11.83-0.088-16.376c4.65-4.703,10.138-8.236,15.992-10.556c5.862-2.321,12.083-3.438,18.33-3.438c14.238,0.009,28.651,5.784,39.81,16.802c13.558,13.428,20.642,30.937,20.65,48.15c0,7.363-1.3,14.666-3.987,21.558c-2.678,6.883-6.77,13.322-12.223,18.827c-4.1,4.144-8.707,7.573-13.575,10.435L160.171,512c18.19-8.183,31.111-19.664,39.801-32.882l10.652-18.296c3.123-9.247,4.702-18.95,4.702-28.799c0.018-26.095-10.81-52.931-30.788-72.675C165.345,340.365,142.469,331.544,120.353,331.519z" fill="%23fafafa"></path><path class="st0" d="M100.226,197.59c8.105,3.35,17.789,5.112,28.983,5.112c23.076-0.026,52.695-7.468,88.622-26.356c0.148-0.078,0.262-0.183,0.392-0.262c0.14-0.078,0.297-0.121,0.436-0.209c0.009-0.009,0.018-0.026,0.026-0.035c0.157-0.088,0.288-0.218,0.436-0.332c0.183-0.114,0.358-0.227,0.524-0.366c0.174-0.122,0.314-0.28,0.471-0.419c0.253-0.218,0.48-0.454,0.716-0.698c0.14-0.157,0.297-0.288,0.436-0.454c0.148-0.166,0.262-0.349,0.393-0.532c0.009-0.009,0.018-0.017,0.035-0.026c0.087-0.104,0.192-0.218,0.27-0.322c0.009-0.027,0.018-0.044,0.035-0.062c0.096-0.148,0.166-0.306,0.253-0.454c0.087-0.139,0.201-0.262,0.279-0.401c0.018-0.026,0.018-0.052,0.035-0.086c0.105-0.175,0.157-0.367,0.253-0.542c0.087-0.157,0.183-0.314,0.253-0.471c0.009-0.018,0.018-0.035,0.018-0.053c10.19-24.035,14.596-48.019,14.605-68.87c-0.044-16.689-2.74-31.373-8.323-43.02c-2.827-5.802-6.421-10.949-11.272-14.918c-2.434-1.972-5.174-3.63-8.21-4.772c-3.019-1.16-6.316-1.771-9.632-1.771c-3.342,0-6.666,0.61-9.859,1.736c-3.176,1.117-6.22,2.722-9.143,4.728c-5.575,3.804-9.632,9.213-11.952,14.972c-2.347,5.776-3.193,11.839-3.193,17.911c0.026,10.626,2.522,21.531,5.994,32.272c3.952,12.136,9.248,24.018,14.308,34.208c-3.28-0.986-6.604-1.911-9.989-2.766c-15.643-3.908-32.176-6.351-47.347-6.369c-11.35,0.044-21.934,1.309-31.242,5.104c-4.641,1.928-9.012,4.563-12.676,8.315c-3.656,3.724-6.43,8.663-7.564,14.09c-0.419,1.955-0.637,3.952-0.637,5.959c-0.009,5.296,1.571,10.548,4.362,15.023C85.525,189.206,92.156,194.231,100.226,197.59z M190.742,67.474c0.916-2.164,1.928-3.437,3.638-4.65c1.483-1.02,2.731-1.622,3.699-1.972c0.977-0.331,1.658-0.419,2.181-0.419c0.532,0,0.924,0.078,1.422,0.254c0.829,0.322,2.068,1.081,3.568,2.87c2.242,2.661,4.755,7.564,6.482,14.16c1.754,6.596,2.809,14.823,2.8,24.036c0.009,10.967-1.466,23.33-4.755,36.189c-1.535-2.94-3.114-6.081-4.676-9.344c-4.109-8.602-8.158-18.13-11.106-27.298c-2.966-9.144-4.746-17.981-4.728-24.681C189.267,72.718,189.852,69.612,190.742,67.474z M100.235,166.322c0.288-1.178,0.645-1.832,1.527-2.8c1.309-1.388,4.344-3.202,9.161-4.45c4.771-1.265,11.08-1.954,18.155-1.945c12.642-0.009,27.674,2.146,41.72,5.67c4.58,1.144,9.056,2.452,13.331,3.848c-22.753,9.404-41.249,12.921-54.92,12.895c-11.656,0.026-19.726-2.557-24.071-5.383c-2.19-1.404-3.455-2.792-4.136-3.909c-0.689-1.126-0.864-1.937-0.89-2.818C100.113,167.081,100.156,166.723,100.235,166.322z" fill="%23fafafa"></path><path class="st0" d="M262.797,201.682c-16.027-7.006-31.164-10.522-41.598-12.284L104.894,312.866c5.104-0.786,10.268-1.186,15.459-1.186c27.456-0.018,55.531,11.114,78.154,33.553c20.694,20.52,33.135,47.217,36.023,74.586l93.482-160.416c-6.395-11.612-14.047-21.27-22.378-29.401C292.346,217.046,277.227,207.981,262.797,201.682z" fill="%23fafafa"></path><path class="st0" d="M461.495,59.256c-2.87-6.858-7.136-13.828-12.467-20.424c-10.644-13.2-25.606-24.795-41.214-31.687C397.414,2.53,386.77-0.009,376.99,0c-8.489,0.009-16.28,1.84-23.356,5.776c-7.058,3.97-13.575,10.111-19.228,19.664l-0.174,0.296L237.88,169.158c2.844,0.663,5.819,1.414,8.925,2.294c22.029,6.256,50.166,18.129,74.236,41.24c7.87,7.546,15.25,16.315,21.785,26.4l116.61-139.504c4.476-6.499,6.36-13.156,6.404-20.519C465.839,72.858,464.365,66.131,461.495,59.256z" fill="%23fafafa"></path></g></svg>')
        no-repeat center center / cover;
    }
    &.company-icon {
      background: url('data:image/svg+xml;utf8,<!--?xml version="1.0" encoding="utf-8"?--><!-- Generator: Adobe Illustrator 15.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  --><svg version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 512 512" style="width: 256px; height: 256px; opacity: 1;" xml:space="preserve"><g><path class="st0" d="M331.188,80.469H19.5C8.781,80.469,0,89.25,0,99.984v255.641c0,10.719,8.781,19.5,19.5,19.5h90.438v37.719H84.516v18.688h181.672v-18.688H240.75v-37.719h90.438c10.719,0,19.5-8.781,19.5-19.5V99.984C350.688,89.25,341.906,80.469,331.188,80.469z M325.313,341.969H25.359V105.828h299.953V341.969z" fill="%23fafafa"></path><path class="st0" d="M492.094,80.469H391.469c-10.984,0-19.906,8.906-19.906,19.906v311.25c0,11,8.922,19.906,19.906,19.906h100.625c11,0,19.906-8.906,19.906-19.906v-311.25C512,89.375,503.094,80.469,492.094,80.469z M441.781,343.766c-12.594,0-22.813-10.219-22.813-22.813c0-12.609,10.219-22.828,22.813-22.828s22.828,10.219,22.828,22.828C464.609,333.547,454.375,343.766,441.781,343.766z M477.781,201.594h-70.219v-14.047h70.219V201.594z M477.781,159.453h-70.219v-14.031h70.219V159.453z" fill="%23fafafa"></path></g></svg>')
        no-repeat center center / cover;
    }
  }

  & + .separator {
    border: 1px dashed $darkmode-accentcolor;
  }
}
// 制作物
.light-theme #production .card figure figcaption span {
  background: rgba($color: $lightmode-primarycolor, $alpha: .8);
}
.dark-theme #production .card figure figcaption span {
  background: rgba($color: $darkmode-primarycolor, $alpha: .8);
}